:root {
--deep-cerulean-50: #eafeff;
--deep-cerulean-100: #cafcff;
--deep-cerulean-200: #9cf7ff;
--deep-cerulean-300: #57efff;
--deep-cerulean-400: #0cdcff;
--deep-cerulean-500: #00bfea;
--deep-cerulean-600: #0096c4;
--deep-cerulean-700: #007ea7;
--deep-cerulean-800: #0b607f;
--deep-cerulean-900: #0e4f6b;
--deep-cerulean-950: #02344a;
}


