
.modern-site-header{
    margin: auto;
    max-width: 1200px;
    padding: 100px 20px;
}
.header-h1{
    background-color: var(--deep-cerulean-950);
    color: white;
    display: inline-block;
    padding: 5px;
    border-radius: 5px;
}
.modern-site-header p{
    color: #4f5b6d;
    font-size: 20px;
    line-height: 25px;
    width: 50%;
    margin-top: 20px;
    margin-bottom: 50px;
}

.category-tag{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    
}
.category-tag a{
    padding: 5px 10px;
    color: black;
    border: 1px solid var(--deep-cerulean-700);
    margin: 10px;
    border-radius: 5px;
    text-decoration: none;
    -webkit-transition: 0.4s;
    -o-transition: 0.4s;
    transition: 0.4s;
}
.category-tag a:hover{
    background-color: var(--deep-cerulean-950);
    color: white;
}

/* styles for the 3 step */
.step-title{
    text-align: center;
    margin: 80px;
}
.step-title span{
    background-color: var(--deep-cerulean-950);
    color: white;
    padding: 0 8px;
}
.three-wstep{
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
}
.wstep{
    width: 30%;
    -webkit-box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
            box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    padding: 10px;
    border-radius: 10px;
    -webkit-transition: 0.4s;
    -o-transition: 0.4s;
    transition: 0.4s;
    cursor: pointer;
}
.wstep:hover{
    background-color: var(--deep-cerulean-950);
}
.wstep:hover p{
    color: rgb(216, 216, 216);
}
.wstep h3{
    -webkit-box-shadow: rgba(67, 71, 85, 0.27) 0px 0px 0.25em, rgba(90, 125, 188, 0.05) 0px 0.25em 1em;
            box-shadow: rgba(67, 71, 85, 0.27) 0px 0px 0.25em, rgba(90, 125, 188, 0.05) 0px 0.25em 1em;
        padding: 10px;
    color: white;
}

.wstep p{
    width: 100%;
    color: #4f5b6d;
    line-height: 25px;
}

.wstep a{
    text-decoration: none;
    display: inline-block;
    padding: 5px 10px;
    border: 1px solid rgba(211, 211, 211, 0.233);
    margin-top: 20px;
    text-align: center;
}
.wstep:hover a{
    background-color: lightgray;
}
.one-step{
    border-left: 5px solid #16BB9D;
}
.one-step h3{
    background-color: #16BB9D;
}
.two-step{
    border-left: 5px solid #FC8502;
}
.two-step h3{
    background-color: #FC8502;
}
.three-step{
    border-left: 5px solid #438DF7;

}
.three-step h3{
    background-color: #438DF7;
}

/* responsiveness start here */
@media screen and (max-width: 600px){
    .modern-site-header{
        padding: 50px 20px;
    }
   .modern-site-header p{
    width: 100%;
   }
}
@media screen and (max-width: 768px){
    .three-wstep{
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
    }
    .wstep{
        width: 100%;
        margin-bottom: 20px;
    }
    .step-title{
        width: 100%;
        margin: 80px 0;
    }
    .step-title h1{
        width: 100% !important;
        font-size: 18px;
    }
}