

#psdtohtml{
    max-width: 1200px;
    margin: auto;
    text-align: center;
    padding: 80px 20px;
}
#psdtohtml h1{
    margin-bottom: 20px;
}
#psdtohtml p{
    font-size: 18px;
    margin: auto;
    width: 40%;
    -webkit-box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
            box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    padding: 10px;
    background-color: var(--deep-cerulean-950);
    color: rgb(223, 223, 223);
}
#psdtohtml img{
    margin-top: 80px;
}

@media screen and (max-width: 600px){
    #psdtohtml{
        padding: 50px 20px;
    }
   
    #psdtohtml img{
        width: 80%;
    }
}
@media screen and (max-width: 768px){
   
    #psdtohtml p{
        width: 80%;
    }
    
}