
#showcase-page-header{
    max-width: 1200px;
    margin: auto;
    padding: 100px 20px;
    background-color: var(--deep-cerulean-900);
    color: white;
    margin-bottom: 100px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    border-radius: 10px;
    background-image: -o-repeating-linear-gradient(45deg, transparent, transparent 82px, rgba(250, 142, 117, 0.02) 82px, rgba(250, 142, 117, 0.02) 164px);
    background-image: repeating-linear-gradient(45deg, transparent, transparent 82px, rgba(250, 142, 117, 0.02) 82px, rgba(250, 142, 117, 0.02) 164px);
}


#showcase-page-header p{
    font-size: 18px;
    line-height: 25px;
    color: rgb(216, 216, 216);
}
.two-action-btn{
    margin-top: 50px;
    color: var(--deep-cerulean-950);
}
.btn-one{
    background-color: white;
    color: var(--deep-cerulean-950);
    text-decoration: none;
    padding: 10px 20px;
    margin: 10px;
}
.btn-two{
    border: 1px solid var(--deep-cerulean-700);
    padding: 10px 20px;
    color: white;
    text-decoration: none;
}

 /* responsive start here */
 @media screen and (max-width: 600px){
    #showcase-page-header{
        padding: 50px 20px;
    }
    .two-action-btn{
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        text-align: center;
    }
    .btn-one{
        margin: 20px 0;
    }
 }
 @media screen and (max-width: 776px){
    #showcase-page-header{
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
    }
    .header-right{
        margin-top: 50px;
    }
 }
 @media screen and (max-width: 990px){
    .header-left{
        width: 60%;
    }
 }