
#animated-banner-page{
    max-width: 1200px;
    margin: auto;
    padding: 100px 20px;
    background-color: var(--deep-cerulean-900);
    color: white;
    margin-bottom: 100px;
    border-radius: 10px;
    background-image: -o-repeating-linear-gradient(45deg, transparent, transparent 82px, rgba(250, 142, 117, 0.02) 82px, rgba(250, 142, 117, 0.02) 164px);
    background-image: repeating-linear-gradient(45deg, transparent, transparent 82px, rgba(250, 142, 117, 0.02) 82px, rgba(250, 142, 117, 0.02) 164px);
}
#animated-banner-header{
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
   }

.animated-header-left{
    width: 50%;
    margin-bottom: 30px;
}
.animated-header-left h1{
    margin-bottom: 20px;
}
.animated-header-left p{
    font-size: 18px;
    color: lightgray;
}
.animated-header-right{
    width: 50%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}
.animated-header-right img{
    border: 1px solid lightgray;
    padding: 10px;
    border-radius: 5px;
}
.animated-header-right img:first-child{
    margin-right: 10px;
}

.two-action-btn{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    margin-top: 50px;
}
.two-action-btn a{
    width: 45%;
    padding: 10px 15px;
    text-decoration: none;
    text-align: center;
    -webkit-transition: 0.4s;
    -o-transition: 0.4s;
    transition: 0.4s;
}

.two-action-btn a:first-child{
    background-color: var(--deep-cerulean-500);
    color: white;
}
.two-action-btn a:first-child:hover{
    background-color: var(--deep-cerulean-600);
    
}
.two-action-btn a:last-child{
    border: 1px solid var(--deep-cerulean-600);
    color: lightgray;
}


@media screen and (max-width: 400px){
  #animated-banner-page{
    padding: 50px 20px;
  }
  .animated-header-left h1{
    font-size: 24px;
  }
}
@media screen and (max-width: 600px){
   .animated-header-left, .animated-header-right{
    width: 100% !important;
   }
   .two-action-btn{
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
   }
   .two-action-btn a{
    width: 100%;
    margin-bottom: 10px;
   }
}
@media screen and (max-width: 990px){
   .animated-header-left, .animated-header-right{
    width: 80%;
   }
}