

:root {
    --deep-cerulean-50: #eafeff;
   --deep-cerulean-100: #cafcff;
   --deep-cerulean-200: #9cf7ff;
   --deep-cerulean-300: #57efff;
   --deep-cerulean-400: #0cdcff;
   --deep-cerulean-500: #00bfea;
   --deep-cerulean-600: #0096c4;
   --deep-cerulean-700: #007ea7;
   --deep-cerulean-800: #0b607f;
   --deep-cerulean-900: #0e4f6b;
   --deep-cerulean-950: #02344a;
     }
   

.social-media-branding-header{
    max-width: 1200px;
    margin: auto;
    padding: 80px 20px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    background-image: -o-repeating-linear-gradient(45deg, transparent, transparent 82px, rgba(250, 142, 117, 0.02) 82px, rgba(250, 142, 117, 0.02) 164px);
    background-image: repeating-linear-gradient(45deg, transparent, transparent 82px, rgba(250, 142, 117, 0.02) 82px, rgba(250, 142, 117, 0.02) 164px);
}
.branding-header-left{
    width: 60%;
}
.branding-header-right{
    text-align: center;
}
.branding-header-left h1{
    font-size: 44px;
    margin-bottom: 50px;
}
.branding-header-left p{
    color: #606b7b;
    font-size: 18px;
}
.branding-header-right img{
    width: 80%;
}
.two-action-btn{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin-top: 40px;
}
.two-action-btn a{
    padding: 10px  15px;
    text-decoration: none;
    -webkit-transition: 0.4s;
    -o-transition: 0.4s;
    transition: 0.4s;
}
.two-action-btn a:first-child{
    background-color:var(--deep-cerulean-500) ;
    color: white;
}
.two-action-btn a:first-child:hover{
    background-color: var(--deep-cerulean-700);
}
.two-action-btn a:last-child{
    border: 1px solid rgba(211, 211, 211, 0.404);
    color: black;
    margin-right: 40%;
}
.two-action-btn a:last-child:hover{
    background-color: rgba(211, 211, 211, 0.39);
}
.branding-header-left ul{
    margin: 20px 0;
    list-style-type: none;
}
.branding-header-left ul li{
    margin-bottom: 3px;
}
.branding-header-left ul li i{
    margin-right: 5px;
    color: var(--deep-cerulean-500);
}

@media screen and (max-width: 600px){
    .social-media-branding-header{
        padding: 50px 20px;
    }
    .two-action-btn{
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
    }
    .two-action-btn a{
        width: 100%;
        margin-bottom: 20px;
        text-align: center;

    }
}
@media screen and (max-width: 768px){
    .social-media-branding-header{
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
    }
    .branding-header-left{
        width: 100%;
        margin-bottom: 80px;
    }
}